
html{
    height: 100%;
}    
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  background-color:#F7F1ED;
  margin: 0;
  width:100%;
  padding-top:60px;
  position: relative;
  letter-spacing: 0.1em;
}

/*header*/
/* ハンバーガーボタンを押してチェックがONの時だけ
   スマホ用メニューを画面左端に移動する */
   #sp-menu__check:checked ~ .sp-menu__content {
    left: 0;
  }
  /* 変更箇所はコメントの項目のみ */
  .sp-menu__content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  
    /* 普段は画面外にするために左端を画面右端の位置にする */
    left: 100%;
  
    z-index: 90;
    background-color: #eda93b;
    
    /* 右端からゆっくり移動するように表示 */
    transition: all 0.5s;
  }

  header {
    display: flex;
    background: #eda93b;
    height: 60px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: bold;
    top:0;
    position: fixed;
  }
  .main-menu {
    margin: 0 auto;
    display: flex;
    width: 2000px;
  }
  .logo {
    text-align: center;
    padding: 0 10px 0 0;
    font-size: 20px;
    width: 200px;
    color: #ffffff;
  }
 
  .sp-menu__box {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #eda93b;
  }
  .sp-menu__box span,
  .sp-menu__box span:before,
  .sp-menu__box span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
  }
  .sp-menu__box span:before {
    bottom: 8px;
  }
  .sp-menu__box span:after {
    top: 8px;
  }
  #sp-menu__check {
    display: none;
  }
  #sp-menu__check:checked ~ .sp-menu__box span {
    background: rgba(255, 255, 255, 0);
  }
  #sp-menu__check:checked ~ .sp-menu__box span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #sp-menu__check:checked ~ .sp-menu__box span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp-menu__list {
    padding: 70px 10px 0;
  }
  .sp-menu__item {
    border-bottom: solid 3px #ffffff;
    list-style: none;
  }
  .sp-menu__link {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
  }


  .tera{
    font: "Zen Kaku Gothic New", sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding-left: 1em;
  }
  
  .bar{
      z-index: 100;
      background-color: #eda93b;
  }

.footer {
    background-color: #eda93b;
    color: #ffffff;
    padding: 3rem 1rem;
    position: relative;
  }
  
  .footer-inner {
    max-width: 1300px;
    margin: auto;
  }
  
  .footer-body {
    display: flex;
    justify-content: center;
  }
  
  .footer-logo-container {
    max-width: 320px;
    width: 330px;
    height: 100px;
    color: #ffffff;
  }
  .footer-logo{
    width: 340px;
    height: 350px;
  }
  
  .footer-navi-list {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
  }
  
  hr {
    display: none;
  }
  
  .nav-list {
    width: 380%;
    list-style: none;
    margin: 25px;
  }
  
  .nav-list li a {
    display: flex;
    color: #ffffff;
    padding: 3px;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    width:100%;
    align-items: center;
    justify-content: center;
  }
  
  .nav-list li{
    text-align: center;
    margin:20px;
  }
  

  .nav-list li a:hover {
    color: #c17316;
  }
  
  
 
  .text {
    display: flex;
    justify-content: center;
  }
  .etunenlogo {
    width: 36%;
    object-fit: cover;
  }
  

.paragraph{
    width:100%;
    letter-spacing: 0.5px;
    line-height: 14px;
    font-size: 14px;
    padding-bottom: 8px;
    font-weight: 400;
    color:#08263a;
}

/*hero*/
.hero{
  position: relative;
}
.herophoto{
  width: 100%;
}

.hero p {
  position:absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 3.5vw;
  font-weight: bold;
  color: #C17316;
}

